/* Fonts */
@font-face {
    font-family: 'Open Sans Webfont';
    src: url('/fonts/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Webfont';
    src: url('/fonts/OpenSans-Bold-webfont.eot');
    src: url('/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold Webfont';
    src: url('/fonts/OpenSans-Semibold-webfont.eot');
    src: url('/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Bold Webfont';
    src: url('/fonts/code_bold-webfont.eot');
    src: url('/fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/code_bold-webfont.woff') format('woff'),
         url('/fonts/code_bold-webfont.ttf') format('truetype'),
         url('/fonts/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans Webfont', Arial, sans-serif;
    background-color: #e6e7e8;
}
a, button {
    cursor: pointer;
}

/* Grid */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1170px;
}
.container-admin {
    width: 100%;
    height: 100%;
}
.column {
    float: left;
}

.column.content-half { 
    width: 416px;
    margin-right: 16px;
}

.column.content-full {
    width: 848px;
    margin-right: 16px;
}

.column.sidebar {
    width: 272px;
}

.column.event-column {
    width: 200px;
    margin-right: 16px;
}

.column.event-column:first-child {
    margin-left: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
.clearfix {
    *zoom: 1;
}

.card-row {
    margin-bottom: 20px;
}

.events-list {
    list-style: none;
    padding: 0;
}

.events-row {
    margin-bottom: 20px;
    margin-right: -16px;
}

.music-row {
    margin-bottom: 20px;
    margin-right: -16px;
}

.music-row .music-card {
    float: left;
    margin-right:16px;
}


/* Header */
.head-tag-b {
    min-width: 1136px;
    background: #dbe9ee url('/img/head-tag-bg.png') center top no-repeat;
}

.head-tag {
    height: 48px;
    padding-left: 185px;
    list-style: none;
}

.head-tag-item {
    display: inline-block;
    margin-right: 32px;
}

.head-tag-link {
    text-transform: uppercase;
    font: 13px/46px 'Open Sans Webfont';
    color: #6a99ac;
    text-decoration: none;
}

.head-tag-link:hover {
    color: #2996c9;
}

.head-navigation-b {
    min-width: 1136px;
    background: url('/img/head-navigation-bottom-bg.png') repeat-x bottom; /* background for ie8 */
    background: url('/img/head-navigation-bg.png') center bottom no-repeat, url('/img/head-navigation-bottom-bg.png') repeat-x bottom;
}

.head-navigation {
    height: 74px;
}

.head-navigation-textlogo {
    display: block;
    float: left;
    margin: 11px 0 0 32px;
    width: 148px;
    font: 28px/23px 'Code Bold Webfont';
    color: #3e3e3e;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.head-navigation-logo {
    display: block;
    float: left;
    margin-top: 16px;
    margin-right: 62px;
}

.head-category {
    float: left;
    padding: 0;
    margin-top: 20px;
}

.head-category-item {
    display: inline-block;
    margin-right: 28px;
}

.head-category-link {
    font: bold 15px 'Open Sans Webfont';
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3e3e3e;
}

.head-category-link:hover {
    color: #2996c9;
    text-decoration: none;
}

.head-sign-in {
    display: block;
    float: right;
    color: #90a8b2;
    font: bold 15px 'Open Sans Webfont';
    text-transform: uppercase;
    margin-right: 35px;
    margin-top: 20px;
    cursor: pointer;
}
.head-sign-in:hover {
    color: #3e3e3e;
}

.head-search {
    float: right;
    border: 3px solid #dde9ee;
    height: 38px;
    width: 272px;
    padding: 0 13px 0 43px;
    margin-top: 12px;
    text-transform: uppercase;
    font: 13px/38px 'Open Sans Semibold Webfont';
    color: #90a8b2;
    background: url('/img/search.png') 13px center no-repeat;
}

.head-search:active, .head-search:focus {
    background: url('/img/search-active.png') 13px center no-repeat;
}

.main-b {
    padding-top: 47px;
    background: url('/img/main-bg.png') center top no-repeat;
}

.column-title {
    margin-bottom: 27px;
}

.column-title-title {
    font: 22px 'Open Sans Webfont';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.column-title-prev, .column-title-next {
    font: 11px 'Open Sans Semibold Webfont';
    margin-top: 9px;
    height: 12px;
    line-height: 12px;
    color: #8b8b8c;
    text-decoration: none;
    text-transform: uppercase;
}

.column-title-prev {
    margin-left: 16px;
    padding-right: 28px;
    float: left;
    background: url('/img/column-title-arrow.png') right 0 no-repeat;
}

.column-title-next {
    margin-right: 19px;
    padding-left: 23px;
    float: right;
    background: url('/img/column-title-arrow.png') 0 -12px no-repeat;
}


/* Content */
.event-card {
    padding: 15px;
    height: 496px;
    width: 200px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 16px;
}

.event-card-poster {
    width: 100%;
    height: auto;
}

.event-card-title {
    font: 18px 'Open Sans Semibold Webfont';
    color: #3e3e3e;
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 10px;
    line-height: 21px;
    min-height: 30px;
}

.event-card-info {
    font: 14px 'Open Sans Webfont';
    color: #8f8f8f;
    text-align: center;
    line-height: 21px;
}

.event-card-button {
    display: block;
    font: bold 13px 'Open Sans Webfont';
    color: #3e3e3e;
    border: 2px solid #e6e7e9;
    padding: 6px;
    width: 137px;
    text-align: center;
    text-transform: uppercase;    
    letter-spacing: 1px;
    position: absolute;
    bottom: 16px;
    left: 32px;
}

.event-card-button:hover {
    color: #2996c9;
    border-color: #2996c9;
    text-decoration: none;
}

.top-ten-card {
    padding: 8px 0;
    margin: 0 0 16px 0;
    height: 496px;
    width: 416px;
    background-color: #ffffff;
    list-style: none;
}

.top-ten-item {
    height: 48px;
    padding: 8px 16px;
}

.top-ten-item:hover {
    background-color: #ecf3f6;
}

.top-ten-artwork {
    vertical-align: middle;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.top-ten-description {
    vertical-align: middle;
    display: inline-block;
    margin-left: 13px;
}

.top-ten-title, .top-ten-author {
    width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 12px 'Open Sans Webfont';
    color: #737373;
    line-height: 15px;
}

.top-ten-duration {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    color: #a2a2a2;
    width: 32px;
    margin-left: 20px;
}

.top-ten-play {
    vertical-align: middle;
    display: inline-block;
    background-image: url('/img/play-sm.png');
    height: 22px;
    width: 22px;
    margin-left: 22px;
}

.top-ten-item:hover .top-ten-play {
    background-position: left -28px;
}

.top-ten-position {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    color: #a2a2a2;
    margin-left: 15px;
}

.music-card {
    width: 416px;
    height: 192px;
    margin-bottom: 16px;
    position: relative;
    background-color: #ffffff;
}

.music-card-cover {
    display: block;
    float: left;
    width: 192px;
    height: 192px;
}

.music-card-play {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 71px;
    left: 160px;
    background: url('/img/play-lg.png') left top no-repeat;
}

.music-card-play:hover {
    background-position: left -66px;
}

.music-card-description {
    float: left;
    width: 224px;
}

.music-card-title {
    margin: 10px 10px 0 15px;
    font: 16px/21px 'Open Sans Webfont';
    height: 44px;
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
}

.music-card-title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 21px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.music-card-misc {
    height: 96px;
}

.music-card-stats {
    list-style: none;
    padding: 0;
    margin: 16px 0 0 49px;
    width: 78px;
    height: 64px;
    border-right: 1px solid #e7e7e7;
    float: left;
}

.music-card-listens, .music-card-likes, .music-card-comments {
    font: 13px 'Open Sans Semibold Webfont';
    color: #8f8f8f;
    padding-left: 32px;
    padding-bottom: 5px;
}

.music-card-listens {
    background: url('/img/music-listens.png') left center no-repeat;
}

.music-card-likes {
    background: url('/img/music-likes.png') left center no-repeat;
}

.music-card-comments {
    background: url('/img/music-comments.png') left center no-repeat;
}

.music-card-social {
    width: 70px;
    height: 64px;
    margin: 24px 0 0 22px;
    list-style: none;
    padding: 0;
    float: left;
}

.music-card-social-item {
    display: inline-block;
    margin: 0 11px 8px 0;
}

.music-card-soundcloud, .music-card-facebook, .music-card-twitter, .music-card-web {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.music-card-soundcloud {
    background: url('/img/s-icon.png') left top no-repeat;
}

.music-card-soundcloud:hover {
    background-position: left -22px
}

.music-card-facebook {
    background: url('/img/s-icon.png') -20px top no-repeat;
}

.music-card-facebook:hover {
    background-position: -20px -22px
}

.music-card-twitter {
    background: url('/img/s-icon.png') -38px top no-repeat;
}

.music-card-twitter:hover {
    background-position: -38px -22px
}

.music-card-web {
    background: url('/img/s-icon.png') -58px top no-repeat;
}

.music-card-web:hover {
    background-position: -58px -22px
}

.music-card-tags {
    list-style: none;
    margin: 0;
    padding: 0 14px;
    height: 42px;
    background-color: #ecf3f6;
    overflow: hidden;
}

.music-card-tag {
    display: inline-block;
    margin-right: 14px;
    line-height: 40px;
}

.music-card-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #7199ab;
}

.view-more-button {
    display: block;
    width: 191px;
    height: 48px;
    border: 2px solid #b4b6b9;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 13px/21px 'Open Sans Webfont';
    color: #3e3e3e;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 1px;
}

.view-more-button:hover {
    color: #2996c9;
    border-color: #2996c9;
    text-decoration: none;
}

.video-row {
    margin-bottom: 20px;
    margin-right: -16px;
}

.video-row .video-card {
    float: left;
    margin-right:16px;
}

.video-card {
    background-color: #ffffff;
    position: relative;
    margin-bottom: 16px;
    width: 416px;
    height: 400px;
}

.video-card-preview {
    width: 416px;
    height: 192px;
    display: block;
    background-size: cover;
    background-position: center center;
}

.video-card-play {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 160px;
    left: 32px;
    background: url('/img/play-lg.png') left top no-repeat;
}

.video-card-play:hover {
    background-position: left -66px;
}

.video-card-description {
    padding: 42px 22px 0 30px;
}

.video-card-title {
    font: 18px/22px 'Open Sans Semibold Webfont';
    color: #555555;
    height: 66px;
}

.video-card-comment {
    font: 15px/22px 'Open Sans Webfont';
    margin-top: 7px;
    height: 44px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    color: #919191;
}

.video-card-comment:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 21px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.video-card-tags {
    list-style: none;
    margin: 0;
    height: 42px;
    overflow: hidden;
    background-color: #ecf3f6;
}

.video-card-tag {
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
}

.video-card-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #7199ab;
}

.profile-card {
    margin: 11px 0 16px;
    padding: 15px;
    background-color: #fff;
}

.profile-card-on-top {
    margin-top: 0;
}

.profile-card-pic {
    display: block;
    float: left;
    margin-right: 16px;
}

.profile-card-info {
    float: left;
}

.profile-card-username {
    font: 18px/21px 'Open Sans Semibold Webfont';
    color: #3e3e3e;
    text-decoration: none;
    padding-right: 30px;
    background: url('/img/dropdown-arrow.png') right center no-repeat;
    margin-bottom: 23px;
    cursor: pointer;
}

.profile-card-username:hover {
    color: #2996c9;
}

.profile-card-status {
    /*margin: -25px 0 0 68px;*/
    font: 11px 'Open Sans Semibold Webfont';
    color: #8f8f8f;
    width: 120px;
    /*border: 3px solid #dee9ef;
    padding: 18px 8px 18px 15px;
    position: relative;*/
}
/*.profile-card-status:after {
    position: absolute;
    content: '';
    width: 28px;
    height: 13px;
    background: url(../cp-img/user-list.jpg) no-repeat;
    top: -13px;
    left: 43%;
}*/
.profile-card-status a {
    font-size: 12px;
    text-transform: uppercase;
    color: #80a0af;
    text-decoration: none;
}
.profile-card-status a:hover {
    font-weight: bold;
    color: #09b7cf;
}
.profile-card-type {
    font: bold 13px/21px 'Open Sans Webfont';
    text-transform: uppercase;
}

.profile-card-button {
    display: block;
    width: 160px;
    height: 32px;
    border: 2px solid #b4b6b9;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 13px/30px 'Open Sans Webfont';
    color: #3e3e3e;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.profile-card-button:hover {
    color: #0ab5cf;
    border-color: #0ab5cf;
}

#info .profile-card {
    padding: 36px 70px 30px 63px;
}
#info .card-row {
    float: left;
}
#info .sign-name {
    width: 47.5% !important;
}
#info .card-row > div {
    float: left;
    width: 100%;
}
#info .form__input {
    height: 48px;
}
#info textarea.form__input {
    height: 180px;
}
#info .card-row > div:nth-child(2) {
    float: right;
}
#info .card-row:last-child {
    float: right;
    width: 428px;
}
#info .profile-card {
    margin-bottom: 0;
}
.add-new-card {
    background: url('/img/add-new-bg.png');
    padding: 10px 16px 16px;
    margin-bottom: 35px;
    text-align: center;
}

.add-new-title {
    font: 22px 'Open Sans Webfont';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.add-new-actions {
    margin: 10px 0;
}

.add-new-button {
    padding: 3px 16px;
    border: 2px solid #90dee9;
    display: inline-block;
    color: #ffffff;
    font: bold 14px/21px 'Open Sans Webfont';
    text-transform: uppercase;
    text-decoration: none;
}

.add-new-button:hover {
    border-color: #ffffff;
    text-decoration: none;
}

.add-new-button:first-child {
    margin-right: 16px;
}

.add-new-link {
    text-decoration: none;
    text-transform: uppercase;
    font: 11px 'Open Sans Semibold Webfont';
    color: #fff;
}

.search-card {
    background-color: #ffffff;
    position: relative;
    margin-bottom: 32px;
}

.search-card-input {
    width: 100%;
    padding: 0 110px 0 67px;
    border: none;
    color: #3e3e3e;
    font: 19.7px/48px 'Open Sans Semibold Webfont';
    background: url('/img/search-lg.png') 18px center no-repeat;
    height: 48px;
}

.search-card-input:active, .search-card-input:focus {
    background: url('/img/search-lg-active.png') 18px center no-repeat;
}

.search-card-selector {
    list-style: none;
    position: absolute;
    top: 9px;
    right: 16px;
    margin: 0;
}

.search-card-item {
    display: inline-block;
    margin-right: 2px;
    padding-left: 16px;
    height: 30px;
    border-left: 1px solid #dddddd;
}

.search-card-item:first-child {
    border-left: none;
}

.search-card-music {
    display: block;
    height: 30px;
    width: 32px;
    background: url('/img/search-music.png') left center no-repeat;
}

.search-card-music.active, .search-card-music:hover {
    background: url('/img/search-music-active.png') left center no-repeat;
}

.search-card-video {
    display: block;
    height: 30px;
    width: 32px;
    background: url('/img/search-video.png') left center no-repeat;
}

.search-card-video.active, .search-card-video:hover {
    background: url('/img/search-video-active.png') left center no-repeat;
}


/* Sidebar */
.sidebar-sn {
    margin-bottom: 16px;
}

.sidebar-sn-selector {
    height: 47px;
    padding: 0;
    margin: 8px 0 0 10px;
    list-style: none;
}

.sidebar-sn-item {
    display: inline-block;
    margin-right: 9px;
}

.sidebar-sn-soundcloud, .sidebar-sn-facebook, .sidebar-sn-twitter, 
.sidebar-sn-vk, .sidebar-sn-youtube {
    height: 47px;
    width: 39px;
    display: block;
}

.sidebar-sn-soundcloud {
    background: url('/img/sidebar-soundcloud.png') top center no-repeat;
}

.sidebar-sn-soundcloud:hover {
    background: url('/img/sidebar-soundcloud-active.png') top center no-repeat;
}

.sidebar-sn-soundcloud.active {
    background: url('/img/sidebar-soundcloud-active.png') top center no-repeat, url('/img/sidebar-sn-active.png') bottom center no-repeat;
}

.sidebar-sn-facebook {
    background: url('/img/sidebar-fb.png') top center no-repeat;
}

.sidebar-sn-facebook:hover {
    background: url('/img/sidebar-fb-active.png') top center no-repeat;
}

.sidebar-sn-facebook.active {
    background: url('/img/sidebar-fb-active.png') top center no-repeat, url('/img/sidebar-sn-active.png') bottom center no-repeat;
}

.sidebar-sn-twitter {
    background: url('/img/ssntw.png') top center no-repeat;
}

.sidebar-sn-twitter:hover {
    background: url('/img/ssntw-active.png') top center no-repeat;
}

.sidebar-sn-twitter.active {
    background: url('/img/ssntw-active.png') top center no-repeat, url('/img/sidebar-sn-active.png') bottom center no-repeat;
}

.sidebar-sn-vk {
    background: url('/img/sidebar-vk.png') top center no-repeat;
}

.sidebar-sn-vk:hover {
    background: url('/img/sidebar-vk-active.png') top center no-repeat;
}

.sidebar-sn-vk.active {
    background: url('/img/sidebar-vk-active.png') top center no-repeat, url('/img/sidebar-sn-active.png') bottom center no-repeat;
}

.sidebar-sn-youtube {
    background: url('/img/ssnytb.png') top center no-repeat;
}

.sidebar-sn-youtube:hover {
    background: url('/img/sidebar-youtube-active.png') top center no-repeat;
}

.sidebar-sn-youtube.active {
    background: url('/img/sidebar-youtube-active.png') top center no-repeat, url('/img/sidebar-sn-active.png') bottom center no-repeat;
}

.sidebar-sn-content {
    width: 272px;
    height: 224px;
    background: #ffffff url('/img/snfb.png') center center no-repeat;
}

.sidebar-comments {
    width: 272px;
    background-color: #d3d8db;
    padding: 25px 16px;
}

.sidebar-comments-title {
    text-align: center;
    font: 22px 'Open Sans Webfont';
    color: #3e3e3e;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar-comments-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-comments-item {
    padding-top: 16px;
    border-top: 1px dashed #a9adaf;
    margin-top: 18px;
}

.sidebar-comments-item:first-child {
    margin-top: 0;
    border: none;
}

.sidebar-comment-author {
    margin: 4px 0 10px 0;
}

.sidebar-comment-userpic {
    float: left;
    width: 32px;
    height: 32px;
    margin: 3px 13px 0 0;
}

.sidebar-comment-username {
    font: 18px/21px 'Open Sans Semibold Webfont';
    color: #555555;
}

.sidebar-comment-date {
    font: 12px/16px 'Open Sans Webfont';
    color: #838586;
}

.sidebar-comment-text {
    font: 14px/20px 'Open Sans Webfont';
    color: #555555;
}

.sidebar-comment-subject {
    margin-top: 13px;
    padding: 2px 0 0 30px;
    background: url('/img/playc-sm.png') left center no-repeat;
    font: 12px/16px 'Open Sans Webfont';
    color: #838586;
    text-decoration: none;
    display: block;
    min-height: 22px;
}

.sidebar-comment-subject:hover {
    background: url('/img/playc-sm-hover.png') left center no-repeat;
}

.popup-container {
    width: 945px;
    margin: 25px 0;
    padding: 35px 81px 89px;
    background: #2996c9 url('/img/popup-bg.png') left top no-repeat;
}
#login_popup {
    width: auto;
}
#sign_popup {
    max-width: 655px;
}
.popup-container .music-related {
    height: auto !important;
}

.popup-head {
    margin-bottom: 32px;
}

.popup-logo {
    display: block;
    float: left;
    width: 195px;
    font: 28px/23px 'Code Bold Webfont';
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.popup-container form {
    background: #fff;
    padding: 0 50px 50px;
}
.popup-container .popup-music h5 {
    font-size: 26px;
    color: #fff;
    text-align: center;
    opacity: .65;
}
.form__input {
    width: 100%;
    height: 70px;
    border: 2px solid #dae9ee;
    padding-left: 18px;
    font-size: 18px;
    color: #7f7f7f;
    margin-bottom: 12px;
}
.form__input.input_alert {
    border-color: #d24359;
}
.popup-container form > div {
    float: left;
    width: 100%;
}
.sign-name {
    width: 45.5% !important;    
}
.popup-container form > div:nth-child(3) {
    float: right;
}
.popup-container form > div:nth-last-child(2) {
    width: 30%;
}
.popup-container form > div:nth-last-child(1) {
    width: 58%;
    float: right;
}
.form-description {
    color: #0786bf;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
    margin-top: 45px;
}
.sign-name > span {
    display: block;
    width: 100%;
}
.input-caption {
    margin: 0 0 0 24px;
    color: #c3c3c3;
    display: block;
}
.input-caption.input-alert {
    color: #d24359;
}
.form-footer {
    background: #1c6bb6;
    text-align: center;
    padding: 45px 0;
}
.sign-btn {
    background: transparent;
    font-weight: bold;
    color: #fff;
    width: 210px;
    height: 48px;
    border: 3px solid #fff;
    opacity: .7;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.sign-btn:hover {
    background: #fff;
    color: #1c6bb6;
}
#loginForm > div {
    width: 100%;
}
.popup-soc-stats {
    display: block;
    float: left;
    list-style: none;
    margin: 5px 0 0 69px;
}

.popup-soc-stat {
    display: inline-block;
    text-align: right;
    border: 2px solid #69b9df;
    height: 32px;
    width: 80px;
    margin-right: 12px;
    padding-right: 14px;
    font: 13px/28px 'Open Sans Webfont';
    color: #b1e1f7;
    cursor: pointer;
}

.popup-soc-gplus {
    background: url('/img/popup-soc-stat-gplus.png') 15px center no-repeat;
}

.popup-soc-facebook {
    background: url('/img/popup-soc-stat-fb.png') 17px center no-repeat;
}

.popup-soc-sntw {
    background: url('/img/popup-soc-stat-sntw.png') 14px center no-repeat;
}

.popup-soc-vk {
    background: url('/img/popup-soc-stat-vk.png') 7px center no-repeat;
}

.popup-close {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: url('/img/popup-close.png') center center no-repeat;
    margin-top: 11px;
}

.popup-video-preview {
    position: relative;
    height: 352px;
}

.popup-video-prev {
    display: block;
    position: absolute;
    top: 160px;
    left: -64px;
    text-decoration: underline;
    background: url('/img/popup-prev.png') left top no-repeat;
    width: 48px;
    height: 48px;
}

.popup-video-prev:hover {
    background-position: left bottom;
}

.popup-video-play {
    display: block;
    position: absolute;
    bottom: -48px;
    left: 32px;
    text-decoration: underline;
    background: url('/img/popup-play.png') left top no-repeat;
    width: 80px;
    height: 80px;
}

.popup-video-next {
    display: block;
    position: absolute;
    top: 160px;
    right: -64px;
    text-decoration: underline;
    background: url('/img/popup-next.png') left top no-repeat;
    width: 48px;
    height: 48px;
}

.popup-video-next:hover {
    background-position: left bottom;
}

.popup-video-info {
    background-color: #ffffff;
}

.popup-video-published {
    margin-left: 127px;
    font: 13px/22px 'Open Sans Webfont';
    color: #555555;
    padding-top: 15px;
    letter-spacing: 0.5px;
    float: left;
}

.popup-video-publisher {
    color: #09b6cf;
}
.popup-video-info > span {
    font: bold 16px/22px 'Open Sans Webfont';  
    float: right;
    color: #b6d9e5;
    margin: 12px 5px 0 0;
}
.popup-video-likes, .popup-video-liked  {      
    float: right;
    padding-left: 28px;
    width: 28px;
    height: 24px;
    background: url('/img/likes.png') left center no-repeat;
    margin: 13px 40px 0 0;
    cursor: pointer;
    color: #b6d9e5;
    font-weight: bold;
}
.popup-video-liked {
    background-position: -28px 0;
}

.popup-video-title {
    clear: both;
    font: 20px/24px 'Open Sans Semibold Webfont';
    color: #555555;
    padding: 23px 31px 20px 31px;
}

.popup-video-about {

}

.popup-about-title {
    font: bold 15px/34px 'Open Sans Webfont';
    color: #b1e1f7;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 7px 0 0 17px;
    width: 160px;
    background: url('/img/popup-about-arrow.png') right top no-repeat;
}

.popup-about-title.active {
    background: url('/img/popup-about-arrow.png') right bottom no-repeat;
}

.popup-about-description {
    font: 13px/22px 'Open Sans Webfont';
    color: #b1e1f7;
    padding-left: 16px;
    letter-spacing: 0.5px;
    min-height: 22px;
    height: 22px;
    overflow: hidden;
    margin-top: 20px;
}

.popup-about-description > p {
    margin:  0;
}

.popup-about-description a, .popup-about-description a:hover, .popup-about-description a:visited {
    font: 13px/22px 'Open Sans Webfont';
    color: #b1e1f7;
}

.popup-video-soc {
    background-color: #175bad;
    list-style: none;
    height: 48px;
    margin: 17px 0 0 0;
    padding: 0 12px;
    width: 192px;
    float: left;
}

.popup-video-soc-item {
    display: inline-block;
    padding: 0 7px;
}

.popup-video-soc-link {
    display: block;
    width: 24px;
    height: 48px;
    text-decoration: none;
}

.popup-video-tags {
    list-style: none;
    margin: 17px 0 0;
    padding-left: 40px;
    height: 48px;
    overflow: hidden;
    background-color: #1b6bb5;
}

.popup-video-tag {
    display: inline-block;
    padding-right: 13px;
}

.popup-video-link {
    color: #b1e1f7;
    font: 11px/48px 'Open Sans Webfont';
    text-decoration: none;
    text-transform: uppercase;
}

.video-related {
    padding: 16px;
    height: 128px;
}

.video-related-button {
    margin-right: 14px;
    height: 33px;
    width: 159px;
    border: 2px solid #b1e1f7;
    font: bold 13px/29px 'Open Sans Webfont';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 21px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
}

.video-related-preview, .video-related-preview > img {
    margin-left: 12px;
    width: 176px;
    height: 96px;
    display: inline-block;
    vertical-align: middle;
}

.popup-video-soc-soundcloud {
    background: url('/img/popup-s-icon.png') left center no-repeat;
}

.popup-video-soc-sntw {
    background: url('/img/popup-s-icon.png') -26px center no-repeat;
}

.popup-video-soc-facebook {
    background: url('/img/popup-s-icon.png') -52px center no-repeat;
}

.popup-video-soc-web {
    background: url('/img/popup-s-icon.png') -78px center no-repeat;
}

.popup-video-soc-soundcloud:hover {
    background-position: -104px center;
}

.popup-video-soc-sntw:hover {
    background-position: -130px center;
}

.popup-video-soc-facebook:hover {
    background-position: -156px center;
}

.popup-video-soc-web:hover {
    background-position: -182px center;
}

.popup-music-preview {
    display: block;
    float: left;
    width: 192px;
    height: 192px;
}

.popup-music-card {
    position: relative;
    height: 192px;
    background-color: #fff;
}

.popup-music-info {
    float: left;
    padding: 0 16px;
}

.popup-music-title {
    font: 20px/25px 'Open Sans Webfont';
    color: #555;
    margin-top: 9px;
    width: 515px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.popup-music-artist {
    font: 16px/18px 'Open Sans Webfont';
    color: #555;
}

.popup-music-likes, .popup-music-liked {
    position: absolute;
    top: 90px;
    right: 16px;
    width: 26px;
    height: 23px;
    background: url('/img/likes.png') left center no-repeat;
    cursor: pointer;
}
.popup-music-liked {
    background-position: -30px 0;
}

.popup-music-prev {
    display: block;
    position: absolute;
    top: 78px;
    left: -64px;
    text-decoration: underline;
    background: url('/img/popup-prev.png') left top no-repeat;
    width: 48px;
    height: 48px;
}

.popup-music-prev:hover {
    background-position: left bottom;
}

.popup-music-play , .popup-music-play--main {
    display: block;
    position: absolute;
    bottom: 48px;
    left: 160px;
    text-decoration: underline;
    background: url('/img/popup-play.png') left bottom no-repeat;
    width: 80px;
    height: 80px;
}

.popup-music-play.pause, .popup-music-play--main.pause  {
    background-position: left top;
}

.popup-music-next {
    display: block;
    position: absolute;
    top: 78px;
    right: -64px;
    text-decoration: underline;
    background: url('/img/popup-next.png') left top no-repeat;
    width: 48px;
    height: 48px;
}

.popup-music-next:hover {
    background-position: left bottom;
}

.download-icon {
    display: block;
    width: 32px;
    height: 40px;
    position: absolute;
    right: 16px;
    top: 0;
    background: url('/img/download-icon.png') left top no-repeat;
}

.purchase-icon {
    display: block;
    width: 32px;
    height: 40px;
    position: absolute;
    right: 16px;
    top: 0;
    background: url('/img/purchase-icon.png') left top no-repeat;
}

.download-icon-disabled {
    opacity: 0.5;
}

.progBarWrapper, .progBarWrapper--main {
    width: 464px;
    height: 80px;
    margin: 30px 0 0 48px;
    background-color: #c7e3ed;
    position: relative;
}

.loadBar, .loadBar--main {
    background-color: #b6d9e5;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.progBar, .progBar--main {
    background-color: #09b6cf;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.waveBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.music-related {
    padding: 16px;
    height: 128px;
}

.music-related-button {
    margin-right: 14px;
    height: 33px;
    width: 160px;
    border: 2px solid #b1e1f7;
    font: bold 13px/29px 'Open Sans Webfont';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 21px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
}

.music-related-preview {
    margin-left: 12px;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.music-related-preview--slim {
    margin-left: 11px;
}

.music-related-preview-img {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('/img/artwork-default.jpg');
    background-size: 100% 100%;
}

.popup-music-controls {
    margin-top: 10px;
}

.popup-music-volume, .popup-music-volume--main {
    display: inline-block;
    width: 128px;
    height: 16px;
    vertical-align: middle;
}

.popup-music-indicators {
    display: inline-block;
    font-size: 13px;
    color: #737373;
    margin-left: 10px;
    width: 172px;
}

.popup-music-download-link {
    display: inline-block;
    font-size: 13px;
    color: #737373;
    text-decoration: none;
    padding-right: 35px;
    background: url('/img/download-link.png') right top no-repeat;
}

.popup-music-purchase-link {
    background: url('/img/purchase-link.png') right top no-repeat;
}

.popup-music-download-disabled {
    opacity: 0.3;
}

.popup-event-poster {
    display: block;
    float: left;
    width: 192px;
    height: auto;
}

.popup-event-card {
    position: relative;
    height: 272px;
    background-color: #fff;
}

.popup-event-info {
    float: left;
    padding: 0 30px;
    height: 224px;
    width: 590px;
}

.popup-event-title {
    font: bold 24px/20px 'Open Sans Webfont';
    color: #3e3e3e;
    letter-spacing: 0.75px;
    margin-top: 30px;
    text-transform: uppercase;
    height: 20px;
    overflow: hidden;
    position:relative;
}

.popup-event-title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}

.popup-event-likes, .popup-event-liked {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 26px;
    height: 23px;
    background: url('/img/likes.png') left center no-repeat;
    cursor: pointer;
}
.popup-event-liked {
    background-position: -30px 0;
}
.popup-event-prev {
    display: block;
    position: absolute;
    top: 112px;
    left: -64px;
    text-decoration: underline;
    background: url('/img/popup-prev.png') left top no-repeat;
    width: 48px;
    height: 48px;
}

.popup-event-next {
    display: block;
    position: absolute;
    top: 112px;
    right: -64px;
    text-decoration: underline;
    background: url('/img/popup-next.png') left top no-repeat;
    width: 48px;
    height: 48px;
}

.popup-event-about {
    padding-bottom: 35px;
}

.popup-event-details {
    list-style: none;
    padding: 0;
}

.popup-event-detail {
    padding-top: 11px;
}

.popup-detail-bg {
    background: url('/img/popup-event-detail.png') left 15px repeat-x;
    width: 165px;
    display: inline-block;
    margin-right :12px;
}

.popup-detail-title {
    background: white;
    font: 16px/21px 'Open Sans Webfont';
    color: #737373;
    display: inline-block;
    padding-right: 16px;
}

.popup-detail-value {
    font: 16px/21px 'Open Sans Semibold Webfont';
    color: #4b4b4b;
    display: inline-block;
}

.popup-detail-link {
    color: #2996c9;
    font-size: 15px;
    text-decoration: none;
}

.popup-event-soc {
    background-color: #175bad;
    list-style: none;
    height: 48px;
    margin: 0;
    padding: 0 12px;
    float: left;
    width: 591px;
    position: relative;
    top: 48px;
}

.popup-event-soc-item {
    display: inline-block;
    padding: 0 14px;
}


/* Footer */
.footer-menu-b {
    background-color: #2996c9;
    background: #2996c9 url('/img/footer-menu-bg.png') center no-repeat;
}

.footer-menu {
    height: 32px;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

.footer-menu-item {
    display: inline-block;
    margin-right: 13px;
}

.footer-menu-link {
    color: #ffffff;
    font: bold 14px 'Open Sans Webfont';
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    letter-spacing: 1px;
}

.footer-b {
    background: #edeff3 url('/img/footer-bg.png') center no-repeat;
}

.footer {
    height: 260px;
}

.footer-music {
    width: 160px;
    float: left;
}

.footer-title {
    font: bold 18px 'Open Sans Webfont';
    color: #3e3e3e;
    text-transform: uppercase;
    margin-top: 27px;
    letter-spacing: 1px;
}

.footer-list {
    padding: 0;
    margin: 11px 0 0 0;
    list-style: none;
}

.footer-list-item {
    margin-bottom: 2px;
}

.footer-list-link {
    font: 14px 'Open Sans Webfont';
    color: #6e7072;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-video {
    width: 160px;
    margin-left: 32px;
    float: left;
}

.footer-popular {
    float: left;
    width: 416px;
    margin-left: 32px;
}

.footer-popular-list {
    padding: 0;
    margin: 11px 0 0 0;
    list-style: none;
}

.footer-popular-item {
    margin-bottom: 7px;
    width: 416px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-popular-link {
    color: #6e7072;
    font: 14px 'Open Sans Webfont';
    text-decoration: none;
    padding-left: 32px;
    display: inline-block;
    background: url('/img/play-sm.png') left top no-repeat;
    min-height: 22px;
}

.footer-popular-link:hover {
    background-position: left -28px;
}

.credits {
    margin-top: 32px;
    margin-right: 17px;
    float: right;
}

.credits-logo {
    display: block;
    color: #3e3e3e;
    text-decoration: none;
    text-transform: uppercase;
    font: 41.5px 'Code Bold Webfont';
    width: 256px;
    background: url('/img/credits-logo.png') right 8px no-repeat;
    line-height: 35px;
    letter-spacing: 2px;
}

.credits-copyright {
    margin-top: 10px;
    font-size: 15px;
    color: #3e3e3e;
    letter-spacing: 1px;
}

.imglink {
    text-decoration: none;
    border: 0 none;
}

/*USER PLAYLIST*/

.user_playlist .column.content-half {
    width: 240px;
    margin-right: 48px;
}
.user_playlist .column ul {
    list-style: none;
}
.playlist-filter-list {
    padding: 0;
    margin-top: 0;
}
.user_playlist .playlist-filter-item, .user_playlist .content-item {
    border-bottom: 1px dotted #c3c5c4;
    padding: 5px 0 5px 40px;
    position: relative;
}
.user_playlist .playlist-filter-item:after, .user_playlist .content-item:after {
    position: absolute;
    content: '';
    width: 17px;
    height: 13px;
    left: 6px;
    top: 10px;
    background: url(../img/sprite.png) no-repeat 0 0;
}
.user_playlist .playlist-filter-item:first-child {
    border-top: 1px dotted #c3c5c4;
}
.user_playlist .playlist-filter-item:first-child:after {
    background: none;
}
.user_playlist .playlist-filter-item:first-child a {
    font-weight: bold;
    color: #08b6cf;
}
.playlist-filter-list li a {
    color: #98a9b0;
    text-transform: uppercase;
    text-decoration: none;
}
.playlist-filter-list li a:hover {
    font-weight: bold;
}
.user_playlist .column .form__input {
    width: 236px;
    height: 33px;
    font-style: italic;
    color: #96abae;
    font-size: 16px;
    padding: 5px 22px 5px 13px;
    position: relative;
}
.user_playlist .column .form__input:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    right: 0;
    top: 0;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 0;
}
.user_playlist .column.content-list-container {
    width: calc(100% - 288px);
}
.playlist-title {
    position: relative;
    line-height: 60px;
    color: #555;
    font-weight: bold;
    border: 1px dotted #c3c5c4;
    border-left: none;
    border-right: none;
    margin: 2px 0;
}
.playlist-title .music-card-play {
    position: static;
    float: left;
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
}
.playlist-title > span {
    float: left;
    margin-right: 50px;
}
.user_playlist .topbar-control {
    float: left;
    margin-top: 20px;
    margin: 20px 18px 0 0;
}
.user_playlist .topbar-control-delete {
    background: url('../img/sprite.png') -57px -17px no-repeat;
    height: 23px;
    width: 20px;
}
.user_playlist .topbar-control-edit {
    background: url('../img/sprite.png') -30px -18px no-repeat;
    height: 23px;
    width: 23px;
}
.playlist-content > ul {
    padding: 0;
}
.playlist-content .content-item {
    border-bottom: 1px dotted #c3c5c4;
    display: inline-block;
    width: 100%;
}
.playlist-content .content-item span {
    float: left;
    color: #b7d2db;
    margin: 0 40px 0 20px;
}
.playlist-content .content-header {
    color: #565656;
    float: left;
}
.playlist-content .content-item .topbar-control.topbar-control-delete {
    float: right;
    margin: 0;
}
/*USER PLAYLIST END*/

/*MUSIC popup*/
.popup-music-wrap {
    margin: 0;
    padding-bottom: 10px;
}
.popup-music-wrap a:hover {
    text-decoration: none;
}
.form-music-wrap {
    background: #fff;
    width: 945px;
}
.form-music, .content-comments {
    padding: 20px 81px 10px;
}
.form-music > strong {
    display: block;
    padding: 10px 0;
}
.captcha {
    margin-right: 20px;
}
.form-music form {
    background: none;
    padding: 0;
}
.comments-list li {
    margin-bottom: 20px;
}
.form-music form:after, .comments-list li:after {
    display: block;
    content: '';
    clear: both;
}
.form-music .music-related-button {
    background: none;
    float: right;
    margin: 15px 0 0;
    color: #222;
}
.form-music .content-form-field-textarea {
    border:2px solid #ccc;
    margin: 0;
}
.comments-list {
    list-style: none;
    margin: 0;
}
.comments-list .content-form-image {
    margin: 0 15px 0 0;
    float: left;
    width: auto;
}
.comments-list .content-header-title {
    color: #0786bf;
    font-weight: bold;
    float: left;
    width: auto;
    height: auto;
    line-height: 1.2;
}
.comments-list .content-wrap {
    float: right;
    width: 725px;
}
.content-header-time {
    float: left;
}
.popup-music-wrap .content-wrap {
    float: left;
    height: auto;
}
/*MUSIC popup END*/