@font-face {
    font-family: 'Open Sans Webfont';
    src: url(/fonts/OpenSans-Regular-webfont.eot);
    src: url(/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(/fonts/OpenSans-Regular-webfont.svg#open_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans Webfont';
    src: url(/fonts/OpenSans-Bold-webfont.eot);
    src: url(/fonts/OpenSans-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Bold-webfont.woff) format('woff'), url(/fonts/OpenSans-Bold-webfont.ttf) format('truetype'), url(/fonts/OpenSans-Bold-webfont.svg#open_sansbold) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans Semibold Webfont';
    src: url(/fonts/OpenSans-Semibold-webfont.eot);
    src: url(/fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Semibold-webfont.woff) format('woff'), url(/fonts/OpenSans-Semibold-webfont.ttf) format('truetype'), url(/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Code Bold Webfont';
    src: url(/fonts/code_bold-webfont.eot);
    src: url(/fonts/code_bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/code_bold-webfont.woff) format('woff'), url(/fonts/code_bold-webfont.ttf) format('truetype'), url(/fonts/code_bold-webfont.svg#code_boldregular) format('svg');
    font-weight: 400;
    font-style: normal
}

* {
    margin: 0;
    padding: 0
}

html {
    height: 100%;
    font-family: 'Open Sans Webfont', Arial, sans-serif
}

body {
    height: 100%;
    min-width: 1300px
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto
}

.column {
    height: 100%;
    float: left
}

.column.column-1 {
    width: 196px;
    background: url(/cp-img/col-1-bg.png) left top no-repeat #202020;
    border-right: 1px solid #245166
}

.column.column-2 {
    width: 63px
}

.column.column-3 {
    float: none;
    width: auto;
    margin-left: 196px;
    padding-left: 64px;
    background: url(/cp-img/col-3-bg.png) left top no-repeat #2996c9
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.column-1 {
    padding-left: 32px;
    border-right: 1px solid #1b6c78
}

.logo {
    margin-top: 18px
}

.logo-link {
    text-decoration: none;
    border: none
}

.publish-filter {
    display: block;
    position: relative;
    width: 135px;
    height: 32px;
    margin-top: 28px;
    background: url(/cp-img/publish-unpublish.png) 0 -29px no-repeat
}

.publish-filter.active, .publish-filter:hover {
    background-position: 0 4px
}

.unpublish-filter {
    display: block;
    position: relative;
    width: 135px;
    height: 32px;
    margin-top: 17px;
    background: url(/cp-img/publish-unpublish.png) 0 -90px no-repeat
}

.unpublish-filter.active, .unpublish-filter:hover {
    background-position: 0 -63px
}

.metatags-nav {
    display: block;
    position: relative;
    width: 135px;
    height: 32px;
    margin-top: 17px;
    background: url(/cp-img/publish-unpublish.png) 0 -150px no-repeat
}

.metatags-nav.active, .metatags-nav:hover {
    background-position: 1px -120px
}

.metatags-nav.active:after, .publish-filter.active:after, .unpublish-filter.active:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: -30px;
    height: 32px;
    width: 12px;
    background: url(/cp-img/publish-unpublish-active.png) center right no-repeat
}
.type-filter-user {
    display: block;
    position: relative;
    width: 135px;
    height: 32px;
    margin-top: 17px;
    background: url('/cp-img/publish-unpublish.png') left center no-repeat;
    background-position: 2px -228px;
}
.type-filter-user:hover, .type-filter-user.active {
    background-position: 2px -184px;
}
.close-button {
    display: block;
    width: 128px;
    height: 32px;
    border: 2px solid #797979;
    text-decoration: none;
    text-transform: uppercase;
    font: 700 13px 'Open Sans Webfont';
    color: #797979;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    bottom: 21px
}

.close-button:hover {
    color: #fff;
    border-color: #fff
}

.type-filter-list {
    margin-top: 100px;
    list-style: none
}

.type-filter-item {
    margin-top: 25px
}

.type-filter-link {
    display: block;
    position: relative;
    width: 32px;
    height: 25px;
    text-decoration: none;
    margin: 0 auto;
    background: url(/cp-img/content-type.png) left top no-repeat
}

.type-filter-link.active:after {
    content: " ";
    display: block;
    position: absolute;
    top: -6px;
    right: -17px;
    height: 32px;
    width: 11px;
    background: url(/cp-img/content-type-active.png) center right no-repeat
}
.type-filter-comments {
    background-position: 0 -133px;
}
.type-filter-comments.active, .type-filter-comments:hover {
    background-position: -52px -133px
}
.type-filter-all {
    background-position: 0 6px
}

.type-filter-all.active, .type-filter-all:hover {
    background-position: -53px 6px
}

.type-filter-music {
    background-position: 0 -27px
}

.type-filter-music.active, .type-filter-music:hover {
    background-position: -53px -27px
}

.type-filter-videos {
    background-position: 0 -68px
}

.type-filter-videos.active, .type-filter-videos:hover {
    background-position: -53px -68px
}

.type-filter-events {
    background-position: 0 -103px
}

.type-filter-events.active, .type-filter-events:hover {
    background-position: -53px -103px
}

.topbar {
    height: 80px;
    padding: 22px 96px 16px 21px;
    width: 100%;
    float: left
}

.topbar-search-input {
    height: 36px;
    width: 392px;
    padding-left: 70px;
    background: url(/cp-img/search-icon.png) 22px center no-repeat;
    border: 1px solid #9fe3ec;
    float: left;
    font: 14px "Open Sans Webfont";
    color: #fff;
    line-height: 36px
}

.topbar-search-button {
    font: 700 14px 'Open Sans Webfont';
    color: #fff;
    border: 3px solid #81c1df;
    padding: 6px 23px 5px;
    margin-left: 7px;
    text-decoration: none;
    text-transform: uppercase;
    float: left
}

.topbar-search-button:hover {
    border: 3px solid #fff
}

.content-box {
    height: 100%;
    width: 100%;
    padding-top: 80px
}

.topbar-controls {
    float: right
}

.topbar-control-list {
    list-style: none;
    float: left;
    padding-top: 6px;
    margin-right: 33px
}

.topbar-control-item {
    float: left;
    margin-right: 37px
}

.topbar-control {
    display: block;
    width: 26px;
    height: 26px
}

.topbar-control-publish {
    background: url(/cp-img/topbar-controls.png) 5px top no-repeat
}

.topbar-control-publish:hover {
    background-position: -28px top
}

.topbar-control-unpublish {
    background: url(/cp-img/topbar-controls.png) left -27px no-repeat
}

.topbar-control-unpublish:hover {
    background-position: -33px -27px
}

.topbar-control-delete {
    background: url(/cp-img/topbar-controls.png) left -53px no-repeat
}

.topbar-control-delete:hover {
    background-position: -33px -53px
}

.topbar-control-edit {
    background: url(/cp-img/topbar-controls.png) left -81px no-repeat
}

.topbar-control-edit:hover {
    background-position: -33px -81px
}

.topbar-control-add {
    background: url(/cp-img/topbar-controls.png) left -108px no-repeat
}

.topbar-control-add:hover {
    background-position: -33px -108px
}

.topbar-check-all {
    display: block;
    float: left;
    width: 59px;
    background: url(/cp-img/check-all-checkbox.png) 40px 7px no-repeat;
    font: 700 14px/32px 'Open Sans Webfont';
    color: #9ed0e7;
    text-transform: uppercase;
    cursor: pointer
}

.topbar-check-all:hover {
    background: url(/cp-img/check-all-checkbox.png) 40px -19px no-repeat;
    color: #fff
}

.topbar-check-all.active {
    background: url(/cp-img/check-all-checkbox.png) 40px -45px no-repeat
}

.topbar-check-all.active:hover {
    background: url(/cp-img/check-all-checkbox.png) 40px -71px no-repeat;
    color: #fff
}

.content {
    height: 100%;
    width: 100%;
    padding-left: 19px;
    background-color: #fff;
    border-left: 1px solid #e6f3f9
}

.tag-filter-list {
    list-style: none;
    width: 140px;
    padding-top: 11px;
    float: left;
    height: 100%
}

.tag-filter-item {
    padding-bottom: 10px
}

.tag-filter-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #95abae;
    font: 13px 'Open Sans Webfont';
    letter-spacing: .5px
}

.tag-filter-link.active, .tag-filter-link:hover {
    font-weight: 700;
    color: #2996c9
}

.content-list-container {
    padding: 16px 16px 130px 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%
}

.content-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%
}

.content-item {
    height: 64px;
    overflow: hidden;
    border-bottom: 1px dotted #b6bdbd;
    margin-right: 16px
}

.content-item.active {
    height: auto;
    border: none;
    background-color: #e5edee
}

.content-item:last-child {
    border-bottom: 1px solid #fff
}

.content-header {
    height: 63px;
    padding: 0 21px
}

.content-header-edit {
    display: inline-block;
    line-height: 63px;
    width: 3%
}

.content-header-edit-control {
    display: block;
    width: 20px;
    height: 11px;
    background: url(/cp-img/content-edit.png) 0 center no-repeat
}

.content-header-edit-control.active {
    background-position: -30px center
}

.content-header-id {
    display: inline-block;
    line-height: 63px;
    width: 3%;
    margin-right: 6px;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #555
}

.content-header-event, .content-header-music, .content-header-video {
    display: inline-block;
    width: 4%;
    height: 30px;
    vertical-align: middle
}

.content-header-music {
    background: url(/cp-img/content-type-icon.png) left 0 no-repeat
}

.content-header-video {
    background: url(/cp-img/content-type-icon.png) left -30px no-repeat
}

.content-header-event {
    background: url(/cp-img/content-type-icon.png) left -61px no-repeat
}

.content-header-title {
    display: inline-block;
    line-height: 63px;
    height: 63px;
    width: 55%;
    text-overflow: ellipsis;
    margin-right: 50px;
    font-size: 15px;
    color: #555;
    overflow: hidden;
    vertical-align: middle
}

.content-item.active .content-header-title {
    color: #2996c9;
    font: 15px/63px 'Open Sans Semibold Webfont'
}

.content-header-category {
    display: inline-block;
    line-height: 63px;
    font: 13px 'Open Sans Semibold Webfont';
    color: #555;
    text-transform: uppercase;
    width: 15%;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis
}

.content-header-category-select {
    display: none
}

.content-header-check {
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 33px;
    height: 16px;
    width: 16px;
    line-height: 63px;
    background: url(/cp-img/content-check.png) no-repeat
}

.content-header-check:hover {
    background-position: 0 -48px
}

.content-header-check.active {
    background-position: 0 -24px
}

.content-header-check.active:hover {
    background-position: 0 -72px
}

.content-form {
    padding: 0 16px
}

.content-form-pic {
    width: 160px;
    padding-right: 16px;
    float: left
}

.content-form-image {
    width: 144px;
    margin-bottom: 11px
}
.comm .content-form-image {
    width: auto;
}

.content-form-choose-image {
    display: block;
    width: 144px;
    height: 33px;
    font: 700 13px/33px 'Open Sans Webfont';
    color: #97b0b7;
    border: 2px solid #97b0b7;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px
}

.content-form-choose-image:hover {
    color: #2996c9;
    border-color: #2996c9
}

.content-form-fields {
    padding-right: 32px;
    margin-left: 160px
}

.content-form-field {
    width: 100%;
    border: none;
    margin-bottom: 16px;
    font-size: 15px;
    color: #787878;
    background-color: #fff
}

.content-form-field-text, .content-form-field-title {
    height: 32px
}

.content-form-field-text {
    padding: 0 16px
}

.content-form-field-title {
    background: url(/cp-img/title-bg.png) right center no-repeat #fff;
    padding: 0 76px 0 16px
}

.content-form-field-url {
    background: url(/cp-img/url-bg.png) right center no-repeat #fff;
    padding: 0 66px 0 16px
}

.content-form-field-keywords {
    background: url(/cp-img/keywords-bg.png) right center no-repeat #fff;
    padding: 0 102px 0 16px
}

.content-form-field-description {
    background: url(/cp-img/description-bg.png) right center no-repeat #fff;
    padding: 0 133px 0 16px
}

.content-form-field-place {
    background: url(/cp-img/place-bg.png) right center no-repeat #fff;
    padding: 0 82px 0 16px
}

.content-form-field-city {
    background: url(/cp-img/city-bg.png) right center no-repeat #fff;
    padding: 0 69px 0 16px
}

.content-form-field-country {
    background: url(/cp-img/country-bg.png) right center no-repeat #fff;
    padding: 0 109px 0 16px
}

.content-form-field-date {
    background: url(/cp-img/date-bg.png) right center no-repeat #fff;
    padding: 0 75px 0 16px
}

.content-form-field-guest {
    background: url(/cp-img/guest-bg.png) right center no-repeat #fff;
    padding: 0 85px 0 16px
}

.content-form-field-textarea {
    resize: none;
    font: 15px/21px 'Open Sans Webfont';
    padding: 6px 16px;
    margin-bottom: -6px;
    min-height: 145px
}

.textarea-wrapper {
    overflow: hidden;
    height: 148px;
    margin-bottom: 16px
}

.redactor-wrapper {
    overflow: hidden;
    margin-bottom: 16px
}

.content-form-field-tags {
    height: 64px
}

.content-form-controls {
    clear: both;
    height: 64px;
    padding-top: 16px;
    padding-bottom: 16px
}

.content-form-control {
    display: block;
    float: right;
    width: 112px;
    height: 32px;
    font: 700 13px/31px 'Open Sans Webfont';
    color: #97b0b7;
    border: 2px solid #97b0b7;
    margin-left: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px
}

.content-form-control:hover {
    color: #2996c9;
    border-color: #2996c9
}

.content-pagination {
    height: 130px;
    padding-top: 47px;
    width: 100%
}

.current-page, .next-page, .prev-page {
    width: 48px;
    height: 32px;
    border: 1px solid #b1cfd7;
    float: left;
    margin-right: 2px
}

.total-pages {
    float: left;
    font: 14px/32px 'Open Sans Webfont';
    color: #737373;
    padding: 0 6px
}

.current-page {
    color: #2996c9;
    text-align: center
}

.current-page:hover, .next-page:hover, .prev-page:hover {
    border: 1px solid #2996c9
}

.prev-page {
    background: url(/cp-img/pagination.png) center 7px no-repeat
}

.prev-page:hover {
    background-position: center -19px
}

.next-page {
    background: url(/cp-img/pagination.png) center -45px no-repeat
}

.next-page:hover {
    background-position: center -72px
}

.add-content {
    width: 1000px
}

.add-content-form {
    background-color: #E5EDEE;
    padding: 20px 10px 10px
}

.content-form-field-textarea-c {
    margin-bottom: 16px;
    height: 100px
}

.redactor_box {
    padding: 0 !important;
    margin-bottom: 10px
}

div.add-dropdown {
    width: 200px;
    height: 32px;
    display: block;
    margin-bottom: 15px;
    background: #fff;
    padding: 7px 76px 0 16px
}

dl.tabs dt {
    padding: 4px 8px 6px;
    cursor: pointer;
    display: inline-block;
    background-color: #97B0B7
}

dl.tabs dt:hover {
    text-decoration: underline
}

dl.tabs dd {
    display: none;
    float: right;
    position: relative;
    width: 100%;
    z-index: 2
}

dl.tabs dd .pad {
    padding: 10px
}

dl.tabs dt.active {
    background-color: #2996C9
}

dl.tabs dd.active {
    display: block
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.hidden {
    display: none
}

/*Comments*/

.comm {
    height: auto;
    padding: 20px 0;
}
.comm .content-header > *, .users .content-header > * {
    float: left;
}
.comm .content-header-check, .users .content-header-check {
    float: right;
}
.comm .content-header-id {
    margin-top: 22px;
    line-height: 1.2;
}
.comm .content-header-edit, .users .content-header-edit {
    margin-top: 26px;
}
.comm .content-header-title, .users .content-header-title {
    width: 130px;
    font: bold 18px/1.2 "OpenSans-Semibold-webfont", sans-serif !important;
    color: #555 !important;
    margin-top: 10px;
}
.comm .content-header-title span {
    display: block;
    font-weight: normal;
    color: #8f8f8f;
    font-size: 12px;
    font-weight: normal !important;
}
.comm .content-form {
    display: none;
}
.comm.active .content-form {
    display: block;
}
.comm .content-form-image {
    margin: 10px 15px 0 0;
}
.comm .content-header-comment {
    width: 445px;
    color: #555;
    margin-top: 10px;
}
.comm .content-header-item {
    color: #8c8e8e;
    margin-top: 10px;
}
.comm .content-header-item > div {
    width: 30px;
    margin: 10px 20px 0 0;
}
.comm .content-header-item span {
    width: 250px;
}

/*Users*/

.users .content-form-image {
    width: auto;
    margin: 10px 15px 0 0;
}
.users .content-header-title {
    height: auto;
    margin-top: 20px;
}
.users .content-header-category {
    margin-top: 20px;
}
.users.active .content-header-category {
    display: block !important;
}

.users .content-form .sign-name1 {
    width: 48%;
    float: left;
}
.users .content-form .sign-name2 {
    width: 48%;
    float: right;
}
.users .content-form .form-description {
    color: #2896c7;
    font-weight: bold;
    margin-bottom: 18px;
    display: block;
}
.users .content-form input {
    height: 48px;
    border: 1px solid #d3e4eb;
}
.users .content-form .redactor_editor {
    border: 1px solid #d3e4eb;
}
.users .content-pagination {
     height: 130px;
     padding-top: 47px;
     width: 100%;
}
.users .content-form-fields {
    padding-right: 32px;
    margin-left: 70px;
    margin: 0 0 0 70px;
    float: left;
    min-width: 425px;
}
.users .metatags .content-form-fields {
    float: none;
}
.users .content-form-field {
    width: 100%;
    border: none;
    margin-bottom: 16px;
    font-size: 15px;
    color: #787878;
    background-color: #fff;
}
.users .content-header-category {
    font-size: 15px;
}
.users .content-header-category span {
    font-size: 11px;
}
.users .content-header-category.info {
    color: #7ca0ae;
}
.users.active .content-header-category.info {
    font-weight: bold;
    color: #08b6cf;
}